<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MySuite" verbose="1">
    <test name="RegressionTrello">
        <classes>
            <class name="com.telran.selenium.tests.BoardCreationTests"/>
            <class name="com.telran.selenium.tests.BoardModificationTests"/>
            <class name="com.telran.selenium.tests.BoardDeletionTests"/>
        </classes>
    </test>
</suite>
